.flashSaleContainer{

    margin: 3vh 10px 10vh 10px;
    background-color: rgba(235, 239, 243, 0.685);
    padding: 10px 0;
}
.flashSaleContainer h3{

    margin-left: 2vw;
    color: rgb(28, 68, 82);
}

.flashSale-body{
    display: flex;
    gap: 20px;
    margin: 3vh 2vw;
    overflow-x: scroll;
    height: fit-content;
    padding: 20px 20px;
    background-color: rgb(255, 255, 255);
}

.flashSaleCard{
    cursor: pointer;
    padding: 10px;
}

.flashSaleCard:hover{
    box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 15px 0px;
}
.flashSaleCard img{

    height: 40vh;
    width: 15vw;
}

.flashSaleCard-data{
    width: 15vw;

}

.flashSaleCard-data h6{
    margin: 0;
    font-size: 1rem;
}

.flashSaleCard-data p{
    font-size: 0.7rem;
    margin: 0;
}

.flashSaleCard-data h5{
    margin: 0;
    color: rgb(224, 47, 47);
}