.IndividualProduct-page{
    margin-top: 15vh;
    margin-bottom: 5vh;
}

.IndividualProduct-page span{
    display: flex;
    align-items: center;
    font-size: 1.4rem;
    cursor: pointer;
    margin-left: 10px;
}
.IndividualProduct-page span p{
    padding-bottom: 3px;
    margin: 0;
    font-size: 1rem;
}

.IndividualProduct-body{
    display: flex;
    margin-top: 3vh;
}

.IndividualProduct-body .carousel{

    width: 40%;
    margin: 0 5%;
    height: 70vh;
    border-radius: 0.4rem;
    overflow: hidden;
}

.IndividualProduct-body .carousel img{
    height: 70vh;
    width: 50%;
}

.carousel-control-prev span, .carousel-control-next span{
    background-color: #c0bfcaa6;
    padding: 10px;
    border-radius: 50%;
}

.IndividualProduct-data{
    margin-top: 1vh;
    width: 46%;
}

.IndividualProduct-data h3{

    color: rgb(71, 99, 137);
}

.IndividualProduct-data p{
    color: rgb(87, 88, 90);
    
}
.IndividualProduct-data span{
    
    margin: 0;
    display: flex;
    gap: 5px;
}
.IndividualProduct-data span h5{
    font-size: 1.2rem;
    margin: 0;
    color: rgb(44, 87, 99);
}
.IndividualProduct-data span h5 b{
    font-size: 1.2rem;
    font-weight: 600;
}

.IndividualProduct-data span s{
    color: rgb(239, 91, 103);
    font-size: 1rem;
}
.IndividualProduct-data span p{

    color: rgb(7, 92, 152);
}

.IndividualProduct-data h6{
    color: rgb(106, 150, 189);
    margin-top: 3vh;
}

.IndividualProduct-data h6 b{

    font-weight: 600;
    color: rgb(63, 87, 109);
}

.IndividualProduct-data span label{

    color: rgb(49, 76, 95);
    font-size: 1.1rem;
    margin-bottom: 3vh;
}

.IndividualProduct-data span select{
    font-size: 1rem;
    color: rgb(7, 92, 152);
    margin-bottom: 2.5vh;
}
.IndividualProduct-data span select option{

    color: rgb(7, 92, 152);
}


.productBuyingButtons{
    margin-top: 10vh;
    display: flex;
    gap: 20px;

}

.productBuyingButtons button{
    width: 200px;
    padding: 10px 0;
    font-weight: 500;
    border: none;
    border-radius: 0.2rem;
}
.productBuyingButtons button:first-child{
    background-color: #504aec;
    color: aliceblue;
}
.productBuyingButtons button:last-child{
    background-color: #eb5a12;
    color: aliceblue;
}

.product-biddings-container{

    margin: 10vh 0 5vh 3vw;
    border: 1px solid rgba(21, 77, 123, 0.29);
    border-radius: 0.6rem;
    padding: 3vh 2vw;
    width: 60%;
}

.product-biddings-container h3{


}

.product-biddings{

    width: 100%;
    margin-top: 3vh;
    overflow-y: scroll;
    height: 65vh;
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding-right: 10px;
}

.product-bidding{

    display: flex;
    justify-content: space-between;
    text-align: left;
    border: 1px solid rgba(140, 194, 241, 0.537);
    background-color: #e8f3f840;
    padding: 10px 15px;
    border-radius: 1rem;
}

.product-bidding:hover{

    
}

.product-bidding span{

    display: flex;
    flex-direction: column;
    align-items: start;
}

.product-bidding span b{
    font-weight: 500;
    font-size: 1rem;
    margin: 0;
    color: #092c57;
}

.product-bidding span p{

    font-size: 0.9rem;
    margin: 0;
}

.top-bid{
    background: rgb(85,191,255);
    background: linear-gradient(317deg, rgba(85, 190, 255, 0.587) 0%, rgba(52, 186, 196, 0.495) 56%, rgba(165, 236, 178, 0.409) 100%);
}
.top-bid span p{

    color: rgb(63, 63, 64) !important;
}